<html>

<head>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <link rel="stylesheet" href="http://cdnjs.loli.net/ajax/libs/mdui/0.4.2/css/mdui.min.css">
    <script src="http://cdnjs.loli.net/ajax/libs/mdui/0.4.2/js/mdui.min.js"></script>
    <style>
        .dialog-content {
            padding: 30px;
        }

        #content-main {

            padding: 20px;
            width: 100%;
            font-size: 50px;
            color: #000000;

        }
    </style>
</head>

<body class="mdui-drawer-body-left  mdui-appbar-with-toolbar mdui-theme-primary-indigo"
    style="background-image: url(../img/gradient2.png); -webkit-app-region: drag">


    <!-- 头部 -->

    <header class=" mdui-appbar mdui-appbar-fixed" id="content-header">
        <div class="mdui-toolbar mdui-color-theme">
            <span class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white"
                mdui-drawer="{target: '#content-drawer', swipe: true}"><i
                    class="mdui-icon material-icons">menu</i></span>
            <a href="" class="mdui-typo-headline mdui-hidden-xs">ApeTranslation</a>
            <div class="mdui-toolbar-spacer"></div>
            <a href="https://github.com/zdhxiong/mdui" target="_blank"
                class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-tooltip="{content: '查看 Github'}">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36 36"
                    enable-background="new 0 0 36 36" xml:space="preserve" class="mdui-icon"
                    style="width: 24px;height:24px;">
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#ffffff" d="M18,1.4C9,1.4,1.7,8.7,1.7,17.7c0,7.2,4.7,13.3,11.1,15.5
	c0.8,0.1,1.1-0.4,1.1-0.8c0-0.4,0-1.4,0-2.8c-4.5,1-5.5-2.2-5.5-2.2c-0.7-1.9-1.8-2.4-1.8-2.4c-1.5-1,0.1-1,0.1-1
	c1.6,0.1,2.5,1.7,2.5,1.7c1.5,2.5,3.8,1.8,4.7,1.4c0.1-1.1,0.6-1.8,1-2.2c-3.6-0.4-7.4-1.8-7.4-8.1c0-1.8,0.6-3.2,1.7-4.4
	c-0.2-0.4-0.7-2.1,0.2-4.3c0,0,1.4-0.4,4.5,1.7c1.3-0.4,2.7-0.5,4.1-0.5c1.4,0,2.8,0.2,4.1,0.5c3.1-2.1,4.5-1.7,4.5-1.7
	c0.9,2.2,0.3,3.9,0.2,4.3c1,1.1,1.7,2.6,1.7,4.4c0,6.3-3.8,7.6-7.4,8c0.6,0.5,1.1,1.5,1.1,3c0,2.2,0,3.9,0,4.5
	c0,0.4,0.3,0.9,1.1,0.8c6.5-2.2,11.1-8.3,11.1-15.5C34.3,8.7,27,1.4,18,1.4z"></path>
                </svg>
            </a>
            <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">refresh</i></a>
            <a onclick="Exit()" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">highlight_off</i></a>
        </div>

    </header>

    <!-- 侧边栏 -->
    <div class="mdui-drawer" id="content-drawer">

        <ul class="mdui-list" mdui-collapse="{accordion: true}">

            <li class="mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">home</i>
                <div class="mdui-list-item-content" onclick="tview()">ApeTranslation</div>
            </li>



            <li class="mdui-collapse-item mdui-collapse-item-open">
                <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">people</i>
                    <div class="mdui-list-item-content">翻译设置</div>
                    <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                </div>
                <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                    <li class="mdui-list-item mdui-ripple" onclick="tview()">翻译主窗口</li>
                    <li class="mdui-list-item mdui-ripple" onclick="sview()">客户端状态</li>
                    <li class="mdui-list-item mdui-ripple" onclick="uview()">O C R 翻译</li>
                </ul>
            </li>



            <li class="mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">dashboard</i>
                <div class="mdui-list-item-content" onclick="aview()">关于ApeTranslation</div>
            </li>

        </ul>

    </div>

    <!-- 内容 -->
    <div class="mdui-container" id="content-main">
        <div v-show="trans">

            <div class="mdui-textfield">
                <label class="mdui-textfield-label">请输入需要翻译的内容</label>
                <textarea class="mdui-textfield-input" rows="4" placeholder="内容"></textarea>
            </div>
            <div style="text-align: center;margin: auto;">
                <select id="Country" class="mdui-select" mdui-select="{position: 'bottom'}">
                    <option value="1">🇨🇳中文</option>
                    <option value="2">🇰🇷韩文</option>
                    <option value="3">🇯🇵日文</option>
                    <option value="4">🇻🇳越文</option>
                    <option value="5">🇷🇺俄文</option>
                    <option value="6">🇺🇸英文</option>
                </select>
                <span> <i class="mdui-icon material-icons">compare_arrows</i> </span>
                <select id="toCountry" class="mdui-select" mdui-select="{position: 'bottom'}">
                    <option value="1">🇨🇳中文</option>
                    <option value="2">🇰🇷韩文</option>
                    <option value="3">🇯🇵日文</option>
                    <option value="4">🇻🇳越文</option>
                    <option value="5">🇷🇺俄文</option>
                    <option value="6">🇺🇸英文</option>
                </select>
            </div>

            <div class="mdui-textfield">
                <label class="mdui-textfield-label">请输入需要翻译的内容</label>
                <textarea class="mdui-textfield-input" rows="4" placeholder="内容"></textarea>
            </div>

            </br>
            <button class="mdui-btn mdui-btn-raised" style="color:floralwhite;background: #448aff;"
                onclick="tran()">翻译内容</button>
            <button class="mdui-btn mdui-btn-raised" style="color:floralwhite;background: #448aff;">复制结果</button>
            <button class="mdui-btn mdui-btn-raised" style="color:floralwhite;background: #448aff;">听语音</button>
        </div>

        <div v-show="about">
            <div class="mdui-typo" style="text-align: center;margin: auto;">
                <p style="font-size:48px;margin-top: 50px;margin-bottom:0px;font-weight: 300;">ApeTranslation<span
                        style="color: #6c757d!important; line-height: 1.2;"> for Mac</span></p>
                <img class="mdui-img-circle" style="width: 80px;height: 80px;" src="../ticon.png" />
                <h5 style="font-size: 0.90rem;color: #6c757d!important;">Thank you for using our product.
                </h5>
                <button class="mdui-btn mdui-color-theme-accentmdui-ripple"
                    style="color:floralwhite;background: #001311;"><i class="fa fa-github"></i>Github</button>
                <button class="mdui-btn mdui-color-theme-accentmdui-ripple"
                    style="color:floralwhite;background: #00C851;"><i class="fa fa-code"></i>website</button>
                <button class="mdui-btn mdui-color-theme-accentmdui-ripple"
                    style="color:floralwhite;background: #448aff;"><i
                        class="fa fa-facebook-square"></i>Facebook</button>
            </div>
        </div>
        <div v-show="OCR">
            <div class="mdui-typo" style="text-align: center;margin: auto;">


                <div class="mdui-col">
                    <img style="width: 220px;height: 220px;" src="../resource/img/update.png">
                    </br>

                    <button class="mdui-btn mdui-btn-block mdui-color-theme-accent mdui-ripple"
                        style="color:floralwhite;background: #448aff;"><i
                            class="mdui-icon material-icons">cloud_upload</i>&nbsp; 上传图片</button>
                </div>

            </div>
        </div>

        <div v-show="server_list">
            <div class="mdui-progress">
                <div class="mdui-progress-indeterminate"></div>
            </div>
            <div class="mdui-table-fluid">
                <table class="mdui-table">
                    <thead>
                        <tr>
                            <th colspan="3">&nbsp;<i class="mdui-icon material-icons">&#xe2bf;</i>&nbsp;客户端网络状态</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>客户端网络延迟</td>
                            <td>正常
                            </td>
                            <td>服务器归属地:新加坡
                            </td>
                        </tr>
                        <tr>

                            <td>翻译服务器延迟</td>
                            <td id="t" style="color: coral;">142ms</td>
                            <td>api.t.codegc.me</td>
                        </tr>
                        <tr>

                            <td>OCR服务器延迟</td>
                            <td id="OCR" style="color: coral;"></td>
                            <td>api.ocr.codegc.me</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="mdui-dialog" id="example-4">
                <div class="mdui-dialog-title">修改信息</div>
                <div class="mdui-dialog-content">
                    <label class="mdui-textfield-label">邮箱密码</label>
                    <input class="mdui-textfield-input" type="text" />
                </div>
                <div class="mdui-dialog-actions">
                    <button class="mdui-btn mdui-ripple" mdui-dialog-close>取消</button>
                    <button class="mdui-btn mdui-ripple" mdui-dialog-confirm>确定</button>
                </div>
            </div>
        </div>


    </div>
    <script src="../resource/JScript /appMain.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.0/jquery.min.js"></script>
</body>

</html>